/* Reset de estilos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar decoraciones y establecer una base para enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Remover estilos predeterminados de listas */
ul,
ol {
  list-style: none;
}

/* Ajustar las tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Formularios básicos */
button,
input,
textarea,
select {
  font: inherit; /* Usar la misma fuente que el resto del contenido */
  background: none;
  border: none;
  color: inherit;
}

/* Ajustes adicionales para botones */
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* Imágenes y elementos multimedia */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Compatibilidad con campos de texto */
textarea {
  resize: none;
}
